* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v4034_1216 {
  width: 100%;
  height: 4030px;
  background: rgba(247,247,247,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v4043_1270 {
  width: 100%;
  height: 838px;
  background: url("../images/v4043_1270.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3001px;
  left: 0px;
  overflow: hidden;
}
.v4043_1268 {
  width: 100%;
  height: 347px;
  background: rgba(43,43,43,0.5);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  overflow: hidden;
}
.v4034_1656 {
  width: 519px;
  color: rgba(43,43,43,1);
  position: absolute;
  top: 480px;
  left: 460px;
  font-family: Hepta Slab;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v4034_1683 {
  width: 482px;
  color: rgba(43,43,43,1);
  position: absolute;
  top: 413px;
  left: 460px;
  font-family: Hepta Slab;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v4034_1648 {
  width: 113px;
  color: rgba(239,239,239,1);
  position: absolute;
  top: 148px;
  left: 460px;
  font-family: VTC Martin;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v4034_1661 {
  width: 245px;
  height: 40px;
  background: rgba(247,247,247,1);
  padding: 20px 32px;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 639px;
  left: 460px;
  border-top-left-radius: 56px;
  border-top-right-radius: 56px;
  border-bottom-left-radius: 56px;
  border-bottom-right-radius: 56px;
  overflow: hidden;
}
.v4034_1662 {
  width: 90px;
  color: rgba(43,43,43,1);
  position: absolute;
  top: 11px;
  left: 32px;
  font-family: Hepta Slab;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v4034_1663 {
  width: 73px;
  background: url("../images/v4034_1663.png");
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 142px;
  border: 2px solid rgba(43,43,43,1);
}
.name {
  color: #fff;
}
.v4046_548 {
  width: 260px;
  height: 131px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 419px;
  left: 122px;
  overflow: hidden;
}
.v4043_1225 {
  width: 100%;
  height: 504px;
  background: rgba(239,239,239,1);
  opacity: 1;
  position: absolute;
  top: 2497px;
  left: 0px;
  overflow: hidden;
}
.v4043_1272 {
  width: 100%;
  height: 328px;
  background: url("../images/v4043_1272.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 103px;
  left: 120px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v4043_1262 {
  width: 100%;
  color: url("../images/v4043_1262.png");
  position: absolute;
  top: 32px;
  left: 120px;
  font-family: VTC Martin;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v4034_1325 {
  width: 100%;
  height: 422px;
  background: rgba(239,239,239,1);
  opacity: 1;
  position: absolute;
  top: 2075px;
  left: 0px;
  overflow: hidden;
}
.v4043_1273 {
  width: 872px;
  height: 280px;
  background: url("../images/v4043_1273.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 102px;
  left: 120px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v4043_1264 {
  width: 100%;
  color: url("../images/v4043_1264.png");
  position: absolute;
  top: 32px;
  left: 120px;
  font-family: VTC Martin;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v4034_1293 {
  width: 100%;
  height: 837px;
  background: rgba(43,43,43,1);
  opacity: 1;
  position: absolute;
  top: 1238px;
  left: 0px;
  overflow: hidden;
}
.v4034_1302 {
  width: 100%;
  height: 680px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 109px;
  left: 120px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v4043_740 {
  width: 100%;
  height: 168px;
  background: linear-gradient(rgba(43,43,43,0.800000011920929), rgba(43,43,43,0));
  opacity: 1;
  position: absolute;
  top: 680px;
  left: 1px;
  overflow: hidden;
}
.v4039_732 {
  width: 100%;
  height: 169px;
  background: linear-gradient(rgba(43,43,43,0.800000011920929), rgba(43,43,43,0));
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  overflow: hidden;
}
.v4034_1304 {
  width: 649px;
  height: 94px;
  background: url("../images/v4034_1304.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 568px;
  left: 529px;
  overflow: hidden;
}
.v4043_745 {
  width: 67px;
  height: 27px;
  background: rgba(239,239,239,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 71px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v4034_1307 {
  width: 47px;
  color: rgba(239,239,239,1);
  position: absolute;
  top: 40px;
  left: 1px;
  font-family: Hepta Slab;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v4034_1308 {
  width: 47px;
  color: rgba(43,43,43,1);
  position: absolute;
  top: 2px;
  left: 81px;
  font-family: Hepta Slab;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v4034_1309 {
  width: 48px;
  color: rgba(239,239,239,1);
  position: absolute;
  top: 40px;
  left: 602px;
  font-family: Hepta Slab;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v4034_1310 {
  width: 47px;
  color: rgba(239,239,239,1);
  position: absolute;
  top: 40px;
  left: 155px;
  font-family: Hepta Slab;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v4034_1311 {
  width: 47px;
  color: rgba(239,239,239,1);
  position: absolute;
  top: 40px;
  left: 295px;
  font-family: Hepta Slab;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v4034_1312 {
  width: 47px;
  color: rgba(239,239,239,1);
  position: absolute;
  top: 40px;
  left: 448px;
  font-family: Hepta Slab;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v4034_1313 {
  width: 2px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 70px;
  left: 2px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  overflow: hidden;
}
.v4034_1314 {
  width: 2px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 70px;
  left: 155px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  overflow: hidden;
}
.v4034_1315 {
  width: 2px;
  height: 31px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 101px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  overflow: hidden;
}
.v4034_1316 {
  width: 2px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 70px;
  left: 296px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  overflow: hidden;
}
.v4034_1317 {
  width: 2px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 70px;
  left: 449px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  overflow: hidden;
}
.v4034_1318 {
  width: 2px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 70px;
  left: 605px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  overflow: hidden;
}
.v4034_1319 {
  width: 32px;
  height: 32px;
  background: rgba(248,181,78,0.20000000298023224);
  opacity: 1;
  position: absolute;
  top: 62px;
  left: 86px;
  border-radius: 50%;
}
.v4043_742 {
  width: 12px;
  height: 12px;
  background: rgba(239,239,239,1);
  opacity: 1;
  position: absolute;
  top: 72px;
  left: 96px;
  border-radius: 50%;
}
.v4043_739 {
  width: 177px;
  color: rgba(239,239,239,1);
  position: absolute;
  top: 627px;
  left: 23px;
  font-family: Hepta Slab;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v4043_1271 {
  width: 214px;
  height: 32px;
  background: url("../images/v4043_1271.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 23px;
  overflow: hidden;
}
.v4039_728 {
  width: 214px;
  height: 32px;
  background: url("../images/v4039_728.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(239,239,239,1);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v4043_744 {
  width: 144px;
  color: rgba(239,239,239,1);
  position: absolute;
  top: 7px;
  left: 36px;
  font-family: Hepta Slab;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v4043_940 {
  width: 100%;
  color: rgba(239,239,239,1);
  position: absolute;
  top: 40px;
  left: 120px;
  font-family: VTC Martin;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v4039_91 {
  width: 100%;
  height: 447px;
  background: url("../images/v4039_91.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 791px;
  left: 0px;
  overflow: hidden;
}
.v4039_156 {
  width: 719px;
  height: 445px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  overflow: hidden;
}
.v4043_942 {
  width: 438px;
  height: 361px;
  background: url("../images/v4043_942.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 161px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v4039_186 {
  width: 248px;
  color: rgba(120,120,120,1);
  position: absolute;
  top: 50px;
  left: 95px;
  font-family: Hepta Slab;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v4039_185 {
  width: 84px;
  color: rgba(43,43,43,1);
  position: absolute;
  top: 0px;
  left: 177px;
  font-family: VTC Martin;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v4039_154 {
  width: 720px;
  height: 445px;
  background: url("../images/v4039_154.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 721px;
  overflow: hidden;
}
.v4043_941 {
  width: 286px;
  height: 358px;
  background: url("../images/v4043_941.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 138px;
  overflow: hidden;
}
.v4034_1475 {
  width: 200px;
  height: 40px;
  background: rgba(247,247,247,1);
  padding: 20px 32px;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 318px;
  left: 44px;
  border-top-left-radius: 56px;
  border-top-right-radius: 56px;
  border-bottom-left-radius: 56px;
  border-bottom-right-radius: 56px;
  overflow: hidden;
}
.v4034_1476 {
  width: 87px;
  color: rgba(43,43,43,1);
  position: absolute;
  top: 11px;
  left: 57px;
  font-family: Hepta Slab;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v4034_1690 {
  width: 250px;
  color: rgba(120,120,120,1);
  position: absolute;
  top: 50px;
  left: 19px;
  font-family: Hepta Slab;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v4085_362 {
  width: 143px;
  color: rgba(43,43,43,1);
  position: absolute;
  top: 0px;
  left: 74px;
  font-family: VTC Martin;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v4034_1257 {
  width: 100%;
  height: 711px;
  background: url("../images/v4034_1257.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 1px;
  overflow: hidden;
}
.v4034_1263 {
  width: 247px;
  height: 43px;
  background: rgba(43,43,43,1);
  padding: 10px 24px;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 286px;
  left: 597px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v4034_1264 {
  background: url("../images/v4034_1264.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 24px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v4034_1268 {
  width: 199px;
  color: rgba(43,43,43,1);
  position: absolute;
  top: 10px;
  left: 24px;
  font-family: Hepta Slab;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v4034_1269 {
  width: 100%;
  height: 327px;
  background: url("../images/v4034_1269.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 345px;
  left: 215px;
  overflow: hidden;
}
.v4034_1270 {
  width: 100%;
  height: 271px;
  background: url("../images/v4034_1270.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v4034_1271 {
  width: 142px;
  height: 65px;
  background: url("../images/v4034_1271.png");
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 439px;
  border: 2px solid rgba(43,43,43,0.6000000238418579);
  transform: rotate(-7deg);
}
.v4034_1272 {
  width: 383px;
  height: 256px;
  background: url("../images/v4034_1272.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 282px;
  overflow: hidden;
}
.v4034_1273 {
  width: 238px;
  height: 168px;
  background: url("../images/v4034_1273.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 95px;
  left: 725px;
  transform: rotate(-21deg);
  overflow: hidden;
}
.v4034_1274 {
  width: 252px;
  height: 165px;
  background: url("../images/v4034_1274.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 97px;
  left: 175px;
  transform: rotate(-5deg);
  overflow: hidden;
}
.v4034_1275 {
  width: 178px;
  height: 212px;
  background: url("../images/v4034_1275.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 72px;
  left: 0px;
  transform: rotate(-20deg);
  overflow: hidden;
}
.v4034_1276 {
  width: 152px;
  height: 200px;
  background: url("../images/v4034_1276.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 676px;
  overflow: hidden;
}
.v4034_1278 {
  width: 101px;
  height: 49px;
  background: url("../images/v4034_1278.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 66px;
  left: 243px;
  transform: rotate(-8deg);
  overflow: hidden;
}
.v4034_1279 {
  width: 100%;
  color: rgba(43,43,43,1);
  position: absolute;
  top: 303px;
  left: 0px;
  font-family: Hepta Slab;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v4034_1258 {
  width: 705px;
  color: rgba(43,43,43,1);
  position: absolute;
  top: 48px;
  left: 368px;
  font-family: VTC Martin;
  font-weight: Regular;
  font-size: 90px;
  opacity: 1;
  text-align: center;
}
.v4034_1280 {
  width: 100%;
  height: 100%;
  background: url("../images/v4034_1280.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 203px;
  overflow: hidden;
}
.v4034_1321 {
  width: 100%;
  height: 100%;
  background: url("../images/v4034_1321.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1765px;
  left: 321px;
  overflow: hidden;
}
.v4043_1274 {
  width: 100%;
  height: 100%;
  background: url("../images/v4043_1274.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3909px;
  left: 321px;
  overflow: hidden;
}
.name {
  color: #fff;
}
