* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v2329_374 {
  width: 100%;
  height: 6238px;
  background: rgba(239,239,239,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v4032_945 {
  width: 602px;
  height: 3622px;
  background: url("../images/v4032_945.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1269px;
  left: 0px;
  overflow: hidden;
}
.v2334_454 {
  width: 602px;
  height: 746px;
  background: url("../images/v2334_454.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1611px;
  left: 0px;
  overflow: hidden;
}
.v2334_455 {
  width: 602px;
  height: 465px;
  background: url("../images/v2334_455.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2334_456 {
  width: 642px;
  height: 483px;
  background: url("../images/v2334_456.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 0px;
  overflow: hidden;
}
.v2334_457 {
  width: 602px;
  height: 500px;
  background: url("../images/v2334_457.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2375px;
  left: 0px;
  overflow: hidden;
}
.v2334_458 {
  width: 602px;
  height: 465px;
  background: url("../images/v2334_458.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2334_459 {
  width: 642px;
  height: 483px;
  background: url("../images/v2334_459.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 0px;
  overflow: hidden;
}
.v2334_460 {
  width: 602px;
  height: 747px;
  background: url("../images/v2334_460.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2875px;
  left: 0px;
  overflow: hidden;
}
.v2334_461 {
  width: 602px;
  height: 465px;
  background: url("../images/v2334_461.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2334_462 {
  width: 642px;
  height: 483px;
  background: url("../images/v2334_462.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 0px;
  overflow: hidden;
}
.v2334_463 {
  width: 602px;
  height: 908px;
  background: url("../images/v2334_463.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 703px;
  left: 0px;
  overflow: hidden;
}
.v2334_464 {
  width: 602px;
  height: 465px;
  background: url("../images/v2334_464.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2334_465 {
  width: 642px;
  height: 483px;
  background: url("../images/v2334_465.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 0px;
  overflow: hidden;
}
.v2334_466 {
  width: 602px;
  height: 703px;
  background: url("../images/v2334_466.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2334_467 {
  width: 602px;
  height: 528px;
  background: url("../images/v2334_467.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2334_468 {
  width: 682px;
  height: 519px;
  background: url("../images/v2334_468.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 40px;
  overflow: hidden;
}
.v2376_643 {
  width: 837px;
  height: 433px;
  background: rgba(247,247,247,1);
  opacity: 1;
  position: absolute;
  top: 746px;
  left: 603px;
  overflow: hidden;
}
.v2376_620 {
  width: 292px;
  height: 72px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 1201px;
  left: 300px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v2329_378 {
  width: 837px;
  height: 3983px;
  background: url("../images/v2329_378.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1278px;
  left: 603px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v2329_391 {
  width: 607px;
  color: rgba(43,43,43,1);
  position: absolute;
  top: 57px;
  left: 129px;
  font-family: Hepta Slab;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v2329_392 {
  width: 379px;
  color: rgba(43,43,43,1);
  position: absolute;
  top: 11px;
  left: 129px;
  font-family: Hepta Slab;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2329_393 {
  width: 315px;
  height: 414px;
  background: url("../images/v2329_393.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 206px;
  left: 130px;
  overflow: hidden;
}
.v2329_394 {
  width: 155px;
  color: rgba(43,43,43,1);
  position: absolute;
  top: 570px;
  left: 466px;
  font-family: Hepta Slab;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v2338_786 {
  width: 607px;
  height: 2925px;
  background: url("../images/v2338_786.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 714px;
  left: 130px;
  overflow: hidden;
}
.v2329_379 {
  width: 607px;
  color: rgba(43,43,43,1);
  position: absolute;
  top: 48px;
  left: 0px;
  font-family: Hepta Slab;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v2329_380 {
  width: 361px;
  color: rgba(43,43,43,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Hepta Slab;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2329_381 {
  width: 315px;
  height: 261px;
  background: url("../images/v2329_381.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 215px;
  left: 1px;
  overflow: hidden;
}
.v2329_382 {
  width: 155px;
  color: rgba(43,43,43,1);
  position: absolute;
  top: 441px;
  left: 337px;
  font-family: Hepta Slab;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v2329_383 {
  width: 607px;
  color: rgba(43,43,43,1);
  position: absolute;
  top: 603px;
  left: 0px;
  font-family: Hepta Slab;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v2329_384 {
  width: 363px;
  color: rgba(43,43,43,1);
  position: absolute;
  top: 558px;
  left: 0px;
  font-family: Hepta Slab;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2329_385 {
  width: 371px;
  height: 236px;
  background: url("../images/v2329_385.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 752px;
  left: 1px;
  overflow: hidden;
}
.v2329_386 {
  width: 155px;
  color: rgba(43,43,43,1);
  position: absolute;
  top: 965px;
  left: 388px;
  font-family: Hepta Slab;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v2329_387 {
  width: 371px;
  height: 291px;
  background: url("../images/v2329_387.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2400px;
  left: 1px;
  overflow: hidden;
}
.v2329_388 {
  width: 155px;
  color: rgba(43,43,43,1);
  position: absolute;
  top: 2668px;
  left: 387px;
  font-family: Hepta Slab;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v2329_389 {
  width: 371px;
  height: 206px;
  background: url("../images/v2329_389.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2719px;
  left: 1px;
  overflow: hidden;
}
.v2329_390 {
  width: 155px;
  color: rgba(43,43,43,1);
  position: absolute;
  top: 2889px;
  left: 387px;
  font-family: Hepta Slab;
  font-weight: Bold;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v2329_395 {
  width: 607px;
  color: rgba(43,43,43,1);
  position: absolute;
  top: 1133px;
  left: 0px;
  font-family: Hepta Slab;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v2329_396 {
  width: 254px;
  color: rgba(43,43,43,1);
  position: absolute;
  top: 1088px;
  left: 0px;
  font-family: Hepta Slab;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2329_397 {
  width: 607px;
  color: rgba(43,43,43,1);
  position: absolute;
  top: 1482px;
  left: 0px;
  font-family: Hepta Slab;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v2329_398 {
  width: 396px;
  color: rgba(43,43,43,1);
  position: absolute;
  top: 1437px;
  left: 0px;
  font-family: Hepta Slab;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2329_399 {
  width: 607px;
  color: rgba(43,43,43,1);
  position: absolute;
  top: 1693px;
  left: 0px;
  font-family: Hepta Slab;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v2329_400 {
  width: 272px;
  color: rgba(43,43,43,1);
  position: absolute;
  top: 1648px;
  left: 0px;
  font-family: Hepta Slab;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2329_401 {
  width: 607px;
  color: rgba(43,43,43,1);
  position: absolute;
  top: 1869px;
  left: 0px;
  font-family: Hepta Slab;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v2329_402 {
  width: 531px;
  color: rgba(43,43,43,1);
  position: absolute;
  top: 1823px;
  left: 0px;
  font-family: Hepta Slab;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2329_403 {
  width: 607px;
  color: rgba(43,43,43,1);
  position: absolute;
  top: 2224px;
  left: 0px;
  font-family: Hepta Slab;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v2329_404 {
  width: 522px;
  color: rgba(43,43,43,1);
  position: absolute;
  top: 2188px;
  left: 0px;
  font-family: Hepta Slab;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2338_784 {
  width: 66px;
  height: 45px;
  background: rgba(239,239,239,1);
  padding: 4px 12px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 39px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v2338_783 {
  width: 42px;
  color: rgba(43,43,43,1);
  position: absolute;
  top: 4px;
  left: 12px;
  font-family: VTC Martin;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v2338_787 {
  width: 64px;
  height: 45px;
  background: rgba(239,239,239,1);
  padding: 4px 12px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 707px;
  left: 39px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v2338_788 {
  width: 40px;
  color: rgba(43,43,43,1);
  position: absolute;
  top: 4px;
  left: 12px;
  font-family: VTC Martin;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v2338_798 {
  width: 65px;
  height: 45px;
  background: rgba(239,239,239,1);
  padding: 4px 12px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 1260px;
  left: 39px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v2338_799 {
  width: 41px;
  color: rgba(43,43,43,1);
  position: absolute;
  top: 4px;
  left: 12px;
  font-family: VTC Martin;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v2338_800 {
  width: 65px;
  height: 45px;
  background: rgba(239,239,239,1);
  padding: 4px 12px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 1789px;
  left: 39px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v2338_801 {
  width: 41px;
  color: rgba(43,43,43,1);
  position: absolute;
  top: 4px;
  left: 12px;
  font-family: VTC Martin;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v2338_802 {
  width: 63px;
  height: 45px;
  background: rgba(239,239,239,1);
  padding: 4px 12px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 2144px;
  left: 39px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v2338_803 {
  width: 39px;
  color: rgba(43,43,43,1);
  position: absolute;
  top: 4px;
  left: 12px;
  font-family: VTC Martin;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v2338_804 {
  width: 63px;
  height: 45px;
  background: rgba(239,239,239,1);
  padding: 4px 12px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 2355px;
  left: 39px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v2338_805 {
  width: 39px;
  color: rgba(43,43,43,1);
  position: absolute;
  top: 4px;
  left: 12px;
  font-family: VTC Martin;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v2338_806 {
  width: 66px;
  height: 45px;
  background: rgba(239,239,239,1);
  padding: 4px 12px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 2530px;
  left: 39px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v2338_807 {
  width: 42px;
  color: rgba(43,43,43,1);
  position: absolute;
  top: 4px;
  left: 12px;
  font-family: VTC Martin;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v2338_808 {
  width: 66px;
  height: 45px;
  background: rgba(239,239,239,1);
  padding: 4px 12px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 2886px;
  left: 39px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v2338_809 {
  width: 42px;
  color: rgba(43,43,43,1);
  position: absolute;
  top: 4px;
  left: 12px;
  font-family: VTC Martin;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v2353_206 {
  width: 278px;
  height: 73px;
  background: url("../images/v2353_206.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3719px;
  left: 130px;
  overflow: hidden;
}
.v2353_205 {
  width: 278px;
  height: 73px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(43,43,43,1);
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  overflow: hidden;
}
.v2353_199 {
  width: 178px;
  color: rgba(43,43,43,1);
  position: absolute;
  top: 25px;
  left: 65px;
  font-family: Hepta Slab;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: right;
}
.v2353_200 {
  width: 16px;
  height: 16px;
  background: url("../images/v2353_200.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 31px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v2367_494 {
  width: 695px;
  color: rgba(43,43,43,1);
  position: absolute;
  top: 813px;
  left: 644px;
  font-family: Hepta Slab;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v2334_469 {
  width: 603px;
  height: 69px;
  background: url("../images/v2334_469.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1204px;
  left: 1px;
  overflow: hidden;
}
.v2334_471 {
  width: 294px;
  height: 69px;
  background: url("../images/v2334_471.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 309px;
  overflow: hidden;
}
.v2334_472 {
  width: 173px;
  height: 27px;
  background: url("../images/v2334_472.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 65px;
  overflow: hidden;
}
.v2334_473 {
  width: 20px;
  height: 20px;
  background: rgba(120,120,120,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
  overflow: hidden;
}
.v2334_474 {
  width: 143px;
  color: rgba(120,120,120,1);
  position: absolute;
  top: 0px;
  left: 30px;
  font-family: VTC Martin;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v2334_475 {
  width: 67px;
  height: 27px;
  background: url("../images/v2334_475.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 398px;
  overflow: hidden;
}
.v2334_476 {
  width: 20px;
  height: 20px;
  background: rgba(120,120,120,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
  overflow: hidden;
}
.v2334_477 {
  width: 37px;
  color: rgba(43,43,43,1);
  position: absolute;
  top: 0px;
  left: 30px;
  font-family: VTC Martin;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v2329_406 {
  width: 100%;
  height: 1099px;
  background: url("../images/v2329_406.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 0px;
  overflow: hidden;
}
.v2329_408 {
  width: 603px;
  height: 100%;
  background: url("../images/v2329_408.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2329_410 {
  width: 32px;
  height: 32px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 340px;
  left: 297px;
  border-radius: 50%;
}
.v2350_362 {
  width: 16px;
  height: 16px;
  background: rgba(239,239,239,1);
  opacity: 1;
  position: absolute;
  top: 261px;
  left: 104px;
  border-radius: 50%;
}
.v2329_431 {
  width: 837px;
  height: 666px;
  background: url("../images/v2329_431.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 603px;
  overflow: hidden;
}
.v2329_432 {
  width: 100%;
  height: 666px;
  background: url("../images/v2329_432.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 376px;
  overflow: hidden;
}
.v2334_761 {
  width: 842px;
  height: 282px;
  background: linear-gradient(rgba(217,217,217,0), rgba(43,43,43,0.800000011920929));
  opacity: 1;
  position: absolute;
  top: 384px;
  left: 3px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v2351_457 {
  width: 58px;
  height: 43px;
  background: url("../images/v2351_457.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 31px;
  overflow: hidden;
}
.v2351_458 {
  width: 48px;
  height: 48px;
  background: rgba(247,247,247,1);
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 64px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v2351_459 {
  width: 16px;
  height: 16px;
  background: url("../images/v2351_459.png");
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 41px;
  border: 5px solid rgba(43,43,43,1);
}
.v4018_862 {
  width: 8px;
  height: 8px;
  background: rgba(239,239,239,1);
  opacity: 1;
  position: absolute;
  top: 352px;
  left: 309px;
  border-radius: 50%;
}
.v4018_867 {
  width: 163px;
  height: 26px;
  background: rgba(239,239,239,1);
  padding: 4px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 277px;
  left: 248px;
  overflow: hidden;
}
.v4018_866 {
  width: 143px;
  color: rgba(43,43,43,1);
  position: absolute;
  top: 4px;
  left: 10px;
  font-family: Hepta Slab;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v4018_868 {
  width: 123px;
  height: 26px;
  background: rgba(239,239,239,1);
  padding: 4px 10px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 303px;
  left: 248px;
  overflow: hidden;
}
.v4018_869 {
  width: 103px;
  color: rgba(120,120,120,1);
  position: absolute;
  top: 4px;
  left: 10px;
  font-family: Hepta Slab;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v4018_903 {
  width: 603px;
  height: 433px;
  background: rgba(239,239,239,0.5400000214576721);
  opacity: 1;
  position: absolute;
  top: 666px;
  left: 0px;
  overflow: hidden;
}
.v4018_904 {
  width: 114px;
  color: rgba(43,43,43,1);
  position: absolute;
  top: 38px;
  left: 64px;
  font-family: VTC Martin;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v4018_905 {
  width: 78px;
  height: 38px;
  background: rgba(255,255,255,1);
  padding: 10px 24px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 79px;
  left: 64px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v4018_906 {
  width: 30px;
  color: rgba(43,43,43,1);
  position: absolute;
  top: 10px;
  left: 24px;
  font-family: Hepta Slab;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v4018_907 {
  width: 335px;
  height: 38px;
  background: rgba(255,255,255,1);
  padding: 10px 24px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 197px;
  left: 60px;
  border-top-left-radius: 54px;
  border-top-right-radius: 54px;
  border-bottom-left-radius: 54px;
  border-bottom-right-radius: 54px;
  overflow: hidden;
}
.v4018_908 {
  width: 87px;
  color: rgba(43,43,43,1);
  position: absolute;
  top: 10px;
  left: 24px;
  font-family: Hepta Slab;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v4018_909 {
  width: 77px;
  color: rgba(120,120,120,1);
  position: absolute;
  top: 10px;
  left: 121px;
  font-family: Hepta Slab;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v4018_910 {
  width: 103px;
  background: url("../images/v4018_910.png");
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 208px;
  border: 2px solid rgba(43,43,43,1);
}
.v4018_911 {
  width: 230px;
  height: 38px;
  background: rgba(255,255,255,1);
  padding: 10px 24px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 248px;
  left: 60px;
  border-top-left-radius: 54px;
  border-top-right-radius: 54px;
  border-bottom-left-radius: 54px;
  border-bottom-right-radius: 54px;
  overflow: hidden;
}
.v4018_912 {
  width: 87px;
  color: rgba(120,120,120,1);
  position: absolute;
  top: 10px;
  left: 24px;
  font-family: Hepta Slab;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v4018_913 {
  width: 85px;
  color: rgba(120,120,120,1);
  position: absolute;
  top: 10px;
  left: 121px;
  font-family: Hepta Slab;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v4018_914 {
  width: 141px;
  height: 38px;
  background: rgba(255,255,255,1);
  padding: 10px 24px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 79px;
  left: 156px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v4018_915 {
  width: 93px;
  color: rgba(43,43,43,1);
  position: absolute;
  top: 10px;
  left: 24px;
  font-family: Hepta Slab;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v4018_916 {
  width: 51px;
  color: rgba(43,43,43,1);
  position: absolute;
  top: 155px;
  left: 64px;
  font-family: VTC Martin;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v2334_770 {
  width: 741px;
  height: 212px;
  background: url("../images/v2334_770.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 38px;
  opacity: 1;
  position: absolute;
  top: 510px;
  left: 640px;
  overflow: hidden;
}
.v2334_500 {
  width: 741px;
  height: 145px;
  background: url("../images/v2334_500.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 6px;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  overflow: hidden;
}
.v2329_2321 {
  width: 741px;
  color: rgba(239,239,239,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Hepta Slab;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v2329_2320 {
  width: 741px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 29px;
  left: 0px;
  font-family: VTC Martin;
  font-weight: Regular;
  font-size: 68px;
  opacity: 1;
  text-align: left;
}
.v2334_762 {
  width: 61px;
  height: 25px;
  background: url("../images/v2334_762.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 185px;
  left: 0px;
  overflow: hidden;
}
.v2334_763 {
  width: 20px;
  height: 20px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  border: 1px solid rgba(239,239,239,1);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v2334_764 {
  width: 33px;
  color: rgba(239,239,239,1);
  position: absolute;
  top: 0px;
  left: 28px;
  font-family: VTC Martin;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2334_765 {
  width: 158px;
  height: 25px;
  background: url("../images/v2334_765.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 185px;
  left: 97px;
  overflow: hidden;
}
.v2334_766 {
  width: 20px;
  height: 20px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  border: 1px solid rgba(239,239,239,1);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v2334_767 {
  width: 130px;
  color: rgba(239,239,239,1);
  position: absolute;
  top: 0px;
  left: 28px;
  font-family: VTC Martin;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2338_775 {
  width: 117px;
  height: 25px;
  background: url("../images/v2338_775.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 185px;
  left: 286px;
  overflow: hidden;
}
.v2338_776 {
  width: 20px;
  height: 20px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  border: 1px solid rgba(239,239,239,1);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v2338_777 {
  width: 89px;
  color: rgba(239,239,239,1);
  position: absolute;
  top: 0px;
  left: 28px;
  font-family: VTC Martin;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2362_460 {
  width: 85px;
  height: 25px;
  background: url("../images/v2362_460.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 185px;
  left: 436px;
  overflow: hidden;
}
.v2362_461 {
  width: 20px;
  height: 20px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  border: 1px solid rgba(239,239,239,1);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v2362_462 {
  width: 57px;
  color: rgba(239,239,239,1);
  position: absolute;
  top: 0px;
  left: 28px;
  font-family: VTC Martin;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2367_495 {
  width: 66px;
  color: rgba(43,43,43,1);
  position: absolute;
  top: 771px;
  left: 640px;
  font-family: VTC Martin;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2362_477 {
  width: 100%;
  height: 98px;
  background: rgba(249,165,37,1);
  opacity: 1;
  position: absolute;
  top: 5204px;
  left: 0px;
  overflow: hidden;
}
.v2362_484 {
  width: 97px;
  color: rgba(239,239,239,1);
  position: absolute;
  top: 5230px;
  left: 62px;
  font-family: VTC Martin;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v2373_526 {
  width: 758px;
  height: 113px;
  background: url("../images/v2373_526.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 16px;
  opacity: 1;
  position: absolute;
  top: 1027px;
  left: 640px;
  overflow: hidden;
}
.v2373_518 {
  width: 371px;
  height: 113px;
  background: rgba(239,239,239,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v2373_520 {
  width: 72px;
  height: 112px;
  background: rgba(170,170,170,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v2353_196 {
  width: 200px;
  color: rgba(43,43,43,1);
  position: absolute;
  top: 18px;
  left: 88px;
  font-family: VTC Martin;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2353_197 {
  width: 259px;
  color: rgba(43,43,43,1);
  position: absolute;
  top: 53px;
  left: 88px;
  font-family: Hepta Slab;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v2373_522 {
  width: 371px;
  height: 113px;
  background: rgba(239,239,239,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 387px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v2373_523 {
  width: 72px;
  height: 112px;
  background: rgba(170,170,170,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v2373_524 {
  width: 200px;
  color: rgba(43,43,43,1);
  position: absolute;
  top: 18px;
  left: 88px;
  font-family: VTC Martin;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2373_525 {
  width: 259px;
  color: rgba(43,43,43,1);
  position: absolute;
  top: 53px;
  left: 88px;
  font-family: Hepta Slab;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v2351_456 {
  width: 111px;
  color: rgba(43,43,43,1);
  position: absolute;
  top: 976px;
  left: 640px;
  font-family: VTC Martin;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v4018_864 {
  width: 16px;
  height: 16px;
  background: rgba(239,239,239,1);
  opacity: 1;
  position: absolute;
  top: 219px;
  left: 345px;
  border-radius: 50%;
}
.name {
  color: #fff;
}
.v2329_438 {
  width: 72px;
  height: 52px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 679px;
  left: 1368px;
  overflow: hidden;
}
.v2329_439 {
  width: 32px;
  background: url("../images/v2329_439.png");
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 36px;
  border: 2px solid rgba(0,0,0,1);
  transform: rotate(-90deg);
}
